path {
    stroke-width: 1;
    fill: none;
}

.red_path {
    stroke: red
}

.yellow_path {
    stroke: yellow
}

.x.axis line, .x.axis path {
    fill: none;
    stroke: gray;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: gray;
}

.legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}

table.signature {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}

table.signature td {
    padding: 5px;
}