html, body {
  position: relative;
  height: 100%;
}

.main-div {
  position: relative;
  height: 100%;
}
.header-color {
  background-color: whitesmoke;
}

.form-login {
  width: 330px;
}

.container-main {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

table.chart {
  max-width: 1000px;
}

table.chart > tbody > tr > th {
  vertical-align: middle;
  text-align: center;
}

table.chart > tbody > tr > td {
  text-align: center;
}

.-pagination {
  height: 80px;
}


.ReactTable .rt-td {
  text-align: center;
}
