<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="/lib/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="main-div" id=app><%- appHtml%></div>
</body>
<script>
    window.APP_STATE=<%-context%>;
</script>
<script src="/bundle.js"></script>