<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/chart.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<div class="container-main" style="max-width: 1100px;">
    <div style="margin: 20px 60px 40px;">ЗАО "БФЗ"</div>
    <h3 style="text-align: center;">Отчет показаний параметров микроклимата <br> в <%= room.ROOM_NAME %> с <%= from %>
        по <%= to %> </h3>
    <% for (var i = 0; i < data.length;  i++) { %>

    <%- data[i].svg %>
    <% } %>

    <p style="text-align: center;"> Данные предоставленны системой автоматизированного сбора данных микроклимата
        "КоРВАС-Климат".</p>
    <table class="signature">
        <tr>
            <td style="width: 155px">Ответственное лицо</td>
            <td style="min-width: 300px; height: 40px">
                <div style="border-bottom: 1px solid black;">&nbsp;<%= person.PERSON_NAME %></div>
            </td>
            <td>Подпись</td>
            <td style=" width: 150px; position: relative;">
                <div style="border-bottom: 1px solid black;">&nbsp;
                    <img src='/images/signatures/<%= person.SIGNATURE_FILE_NAME %>'
                         style="position: absolute; width: 150px; height: 40px; top: -10px; left: 0;"/>
                </div>
            </td>
            <td style=" width: 150px; position: relative;">&nbsp;
                <% if(roomcheck.VERIFIED){ %>
                <img src='/images/signatures/verified.png'
                     style="position: absolute; width: 150px; height: 40px; top: -10px; left: 0;"/>
                <% } else{ %>
                <img src='/images/signatures/not_verified.png'
                     style="position: absolute; width: 150px; height: 40px; top: -10px; left: 0;"/>
                <% } %>

            </td>
        </tr>
    </table>
    <% if(roomcheck.ROOMCHECK_DESC){ %>
    <div style="margin: 20px 60px 40px;">Комментарий к отчету:
        <pre><%= roomcheck.ROOMCHECK_DESC %></pre>
    </div>
    <% } %>
</div>




